/*	BME WMS
	Page: Site StyleSheet
	Path/File: /includes/site_styles.css
	Version: 1.1
	Build: 1100
	Date: 09-25-2006
*/

/* Site Wide Styles -------------------------------- */

.hd1	{ background-image: url('http://www.salviazone.com/images/nav_head_blank1.jpg'); }
.hd2	{ background-image: url('https://occp5.ocservers.net/~salviazo/images/nav_head_blank1.jpg'); }